<?xml version="1.0" encoding="utf-8" ?>  
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="College.Properties.Settings.CollegeConnectionString"
            connectionString="Data Source=DESKTOP-E5VKH8C\SQLEXPRESS;Initial Catalog=D:\PROJJECTS\COLLEGE\COLLEGE\COLLEGE\APP_DATA\COLLEGE.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="College.Properties.Settings.CollegeConnectionString2"
            connectionString="Data Source=DESKTOP-E5VKH8C\SQLEXPRESS;Initial Catalog=D:\PROJJECTS\COLLEGE\COLLEGE\COLLEGE\APP_DATA\COLLEGE.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>
